language: node_js
sudo: false
node_js:
 - 10
install:
  - npm install
script:
  - npm run lint
deploy:
  provider: npm
  email: "mehmetbaran@mehmetbaran.net"
  api_key: "$NPM_TOKEN"
  skip_cleanup: true
  on:
    branch: master
