{
  "extends": ["standard", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "one-var": "off",
    "indent": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ]
  },
  "parser": "babel-eslint"
}
