{
  "extends": ["standard", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "one-var": "off",
    "semi": ["error", "always", {
      "omitLastInOneLineBlock": true
    }],
    "multiline-ternary": "off",
    "react/prop-types": "off",
    
    // Warnings added to suppress errors
    "no-useless-constructor": "warn",
    "eqeqeq": "warn",
    "array-callback-return": "warn",
    "no-extend-native": "warn",
    "node/handle-callback-err": "warn",
    "new-cap": "warn"
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}