{
  "plugins": ["jest"],
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "one-var": "off",
    "semi": ["error", "always", {
      "omitLastInOneLineBlock": true
    }]
  },
  "parser": "babel-eslint"
}
